<!DOCTYPE html>
<html lang = "es">

<head>
    <meta charset = "UTF-8">
    <title>Mi Habit Tracker</title>
</head>


<body>
    <h1>Mis Habitos Diarios</h1>
    <form action = "/agregar" method = "POST">
        <input type = "text", name = "nombre_habito" placeholder = "Escribi un nuevo habito..." required>
        <button type="submit">Agregar</button>
    </form>
    <ul>
        {% for habito in habitos %}
            <li> 
                {% if habito.id in completados_hoy %}
                    <del>{{ habito.nombre }}</del> - Listo por hoy!
                {% else %}
                    {{ habito.nombre }} - Pendiente
                {% endif %}
                
                <div style="margin-top: 5px;">
                    {% for fecha in fechas_semana %}
                        
                        {% set completado_este_dia = false %}
                        {% for reg in habito.registros %}
                            {% if reg.fecha == fecha %}
                                {% set completado_este_dia = true %}
                            {% endif %}
                        {% endfor %}

                        {% if completado_este_dia %}
                            <span style="display: inline-block; width: 20px; height: 20px; background-color: lightgreen; margin: 2px;" title="{{ fecha }}"></span>
                        {% else %}
                            <span style="display: inline-block; width: 20px; height: 20px; background-color: lightgray; margin: 2px;" title="{{ fecha }}"></span>
                        {% endif %}

                    {% endfor %}
                </div>

                <a href="/completar/{{ habito.id }}">
                    <button>Completado</button>
                </a>
                <a href="/eliminar/{{ habito.id }}">
                    <button>Eliminar</button>
                </a>
            </li>
        {% endfor %}
    </ul>

</body>

</html>