<!DOCTYPE html>
<html lang = "es">

<head>
    <meta charset = "UTF-8">
    <title>Mi Habit Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
    <h1>Mis Habitos Diarios</h1>
    <form action = "/agregar" method = "POST">
        <input type = "text", name = "nombre_habito" placeholder = "Escribi un nuevo habito..." required>
        <button type="submit">Agregar</button>
    </form>
    <ul>
        {% for habito in habitos %}
            <li style="background-color: {{ habito.color_fondo }}; border: 1px solid {{ habito.color_principal }};"> 

                <div style="display: flex; align-items: center; gap: 5px;">
                    {% if habito.id in completados_hoy %}
                        <del>{{ habito.nombre }}</del> <span>- Listo por hoy! 🎉</span>
                    {% else %}
                        <span>{{ habito.nombre }} - Pendiente</span>
                    {% endif %}
                </div>
                
                {% set fechas_completadas = habito.registros | map(attribute='fecha') | list %}
                <div style="display: flex; gap: 4px; margin-top: 5px;">
                    {% for fecha in fechas_semana %}
                        {% if fecha in fechas_completadas %}
                            <span style="display: inline-block; width: 20px; height: 20px; background-color: {{ habito.color_principal }}; border-radius: 4px;" title="{{ fecha }}"></span>
                        {% else %}
                            <span style="display: inline-block; width: 20px; height: 20px; background-color: white; border-radius: 4px; border: 1px solid #ccc;" title="{{ fecha }}"></span>
                        {% endif %}
                    {% endfor %}
                </div>

                <div style="margin-top: 10px;">
                    <a href="/completar/{{ habito.id }}">
                        <button style="background-color: {{ habito.color_principal }}; color: white;">Completado</button>
                    </a>
                    <a href="/eliminar/{{ habito.id }}">
                        <button style="background-color: #ff4d4d; color: white;">Eliminar</button>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>

</body>

</html>